---
layout: archive
title: "Animations"
excerpt: "Animated shorts made by using illustrations created in Illustrator and animated using After Effects."
permalink: /animations/
author_profile: false
header:
  teaser: rick_cool_profile_smaller.gif
sidebar:
  - title: "My animations"
    text: "Animated shorts made by using illustrations created in Illustrator and animated using After Effects."
    image: android.gif
---

{% include base_path %}

<div class="grid__wrapper">
  {% for post in site.animations %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
