---
layout: archive
title: "Illustrations"
excerpt: "Illustrations designed using Illustrator and used for animated shorts."
permalink: /illustrations/
author_profile: false
header:
  teaser: science_icons/earth_03.jpg
sidebar:
  - title: "My illustrations"
    text: "Created using Illustrator CC and used for animated shorts."
    image: science_icons/earth_03.jpg
---

{% include base_path %}

<div class="grid__wrapper">
  {% for post in site.illustrations %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
