---
layout: archive
author_profile: true
excerpt: "Blogging like a hacker; who needs Wordpress when you can code."
header:
  overlay_image: type-writter.jpg
  overlay_filter: 0.5
  cta_label: "More about me"
  cta_url: "http://nicolaspettican.com"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com/)"
---

{% include base_path %}

<h3 class="archive__subtitle">Recent Posts</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
